@charset "utf-08";


@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}



:root{
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #ffbf00;
    --color-primary-out: #ffda6f;
    --color-secondary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
    --color-input-out: #ececec;



}


html, body {
    font-family: 'PoppinsRegular', 'Rubik', 'sans-serif';
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
}


b{
    font-family: PoppinsMedium', 'Rubik', 'sans-serif ;
}


.bg-top{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 110px;
    background-color: var(--color-secondary);
}


.width-fix{
    width: calc(100% - 20px);
    max-width: 800px;
    margin: 0px auto;
}


.card{
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important ;
    border: none !important;
}


.container-img{
    width: 60px;
    height: 60px;
    background-image: url(../img/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    border-radius: 16px;
}


.infos{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.infos h1 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--color-black);
}


.infos-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.status-open{
    font-size: 14px;
    margin-bottom: 0px;
    color: var(--color-green);
}


.status-open.closed{
    color: var(--color-red);
}


.link{
    text-decoration: none;
    font-size: 15px;
    color: var(--color-primary) !important;
}


section.categoria{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--color-background);
    width: 100%;
    padding-top: 15px;
}


.container-menu{
    margin-bottom: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}


.item-categoria{
    flex: none;
}


.btn-white{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}


.btn-sm{
    padding: 8px 13px;
    border-radius: 15px;
    font-size: 16px;
}


.btn-white:hover, .btn-white.active{
    background-color: var(--color-primary);

}


.title-categoria{
    color: var(--color-black);
    margin-left: 5px;
}


.container-group .card{
    padding: 15px;
    cursor: pointer;
}


.container-img-produto{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-secondary);
    border-radius: 15px;
    margin-right: 20px;
    flex: none;
}


.infos-produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.infos-produtos .name{
    font-size: 18px;
    color: var(--color-black);
    margin-bottom: 0px;
}


.infos-produtos .descricao{
    font-size: 14px;
    color: var(--color-text);
    margin-bottom: 5px;
}


.infos-produtos .price{
    font-size: 16px;
    color: var(--color-primary);
    margin-bottom: 0px;
}



