/*LOGIN*/

.login{
    width: calc(100% - 20px);
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card-login{
    flex: 1;
    padding: 45px;
    background-color: var(--color-secondary);
}

.icon-form{
    position: absolute;
    margin-left: 15px;
    margin-top: 11px;
    color: var(--color-primary);
    font-size: 18px;
}

.card-login img{
    margin: 0 auto;
    margin-bottom: 30px;
}

.card-login input{
    padding-left: 45px;
}

.btn-login{
    padding: 11px;
    font-size: 18px;
}